AUTH_SECRET=""

# ================================ GOOGLE ================================
AUTH_GOOGLE_ID=""
AUTH_GOOGLE_SECRET=""
NEXT_PUBLIC_GA_ID="G-XXXXXXXXXX"

# ================================ GITHUB ================================
AUTH_GITHUB_ID=""
AUTH_GITHUB_SECRET=""

# ================================ DATABASE ================================
DATABASE_URL="postgresql://your_user_name:your_password@localhost:5432/your_database_name"
DB_USER=
DB_PASSWORD=
DB_NAME=
AUTH_TRUST_HOST=true

# ================================ CLOUDINARY ================================
# https://console.cloudinary.com/ and Go to API Keys
CLOUDINARY_URL=cloudinary://<your_api_key>:<your_api_secret>@YourAccountName